.iispmun-committees-cards-wrapper i {
    height: 44px;
    width: 44px;
    position: absolute;
    top: unset;

    border-radius: 50%;
    cursor: pointer;

    font-size: 1.15rem;
    text-align: center;
    line-height: 44px;

    background: #fff;
    color: #000;

    margin-bottom: 50px;
}

.iispmun-committees-cards-wrapper i:first-child {
    left: -22px;
}

.iispmun-committees-cards-wrapper i:last-child {
    right: -22px;
}

.iispmun-committees-cards-wrapper i:last-child::after {
    content: " \2192"
}

.iispmun-committees-cards-wrapper i:first-child::after {
    content: " \2190"
}

.iispmun-committees-cards-container.dragging {
    cursor: grab;
    scroll-behavior: auto;
}

@media screen and (max-width: 700px) {
    .iispmun-committees-cards-wrapper i {
        display: none;
    }
}
