.iispmun-card-container {
    display: flex;
    align-items: center;
}

.iispmun-card {
    display: flex;
    flex-direction: column;
    margin: auto;

    width: 100%;
    max-width: 300px;
}

.iispmun-card img {
    aspect-ratio: 0.9;
}

.iispmun-card-title-container {
    background: var(--dark-purple);
    color: #fff;

    text-transform: uppercase;
    font-size: 13px;
    font-weight: 700;

    width: 100%;
    justify-content: center;

    display: flex;
    align-items: center;
}

.iispmun-card-title-container p {
    margin: 0;
    padding: 10px 0;
}
