#portfolio-block {
    margin: 15px 0;
    position: relative;

    width: 100%;
    height: 120px;
    max-width: 800px;

    background: var(--dark-purple);
    border-radius: 15px;
}

#portfolio-block img {
    margin: 0;
    position: absolute;

    width: 100%;
    transform: none;

    opacity: 0.5;
    filter: brightness(0.5);
    border-radius: 15px;
}

#portfolio-block > div {
    height: 100%;
    width: 70%;
    position: absolute;
    margin-left: 12vw;

    display: flex;
    justify-content: space-between;
}

#portfolio-block > div > div {
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;

    font-weight: 700;
    text-transform: uppercase;
}

#portfolio-block .title-container {
    background: var(--dark-purple);
    padding: 0 20px;
}

#portfolio-block .portfolio-supertitle {
    color: var(--yellow);
    font-size: 13px;
}

#portfolio-block .portfolio-title {
    color: #fff;
    font-size: 20px;
}

#portfolio-block .portfolio-subtitle {
    color: #fff;
    font-size: 16px;

    padding: 10px 30px;
    background: var(--dark-purple)
}

@media(max-width: 780px) {
    #portfolio-block {
        height: 90px;
    }

    #portfolio-block > div {
        margin-left: 20px;
        width: 80%;
    }

    #portfolio-block .portfolio-supertitle {
        font-size: max(1.5vw, 9px);
    }

    #portfolio-block .portfolio-title {
        font-size: max(2.5vw, 11px);
    }

    #portfolio-block .portfolio-subtitle {
        font-size: 2vw;
        padding: 10px 15px;
    }
}

@media(max-width: 550px) {
    #portfolio-block {
        height: 70px;
    }

    #portfolio-block > div {
        margin-left: 0;

        width: 90%;
    }

    #portfolio-block .title-container {
        border-radius: 15px 0 0 15px;
    }
}
