a {
    text-decoration: none !important;
}

img {
    pointer-events: none;
    user-select: none;
}

h1 {
    text-transform: uppercase;
    font-weight: 900;
    font-size: 35px;
    color: #3C3C4F;

    margin-bottom: 30px;
}

h2 {
    text-transform: uppercase;
    font-weight: 700;
}

h3 {
    text-transform: uppercase;
    font-weight: 700;
    color: #20202E;
}

body {
    font-family: "Poppins", sans-serif;
}

.paragraph {
    text-align: justify;
    font-size: 16px;
    line-height: 2;
    color: #999;

    max-width: 800px;
    width: 90%;
    margin: auto;
}

.blog-content ol,
.blog-content ul {
    text-align: justify;
    color: #999;
    line-height: 220%;
    font-size: 15px;
}

.blog-content ol,
.blog-content ul {
    line-height: 170%;
    margin-left: 50px;
}

.blog-content li {
    margin-top: 20px;
}

.read-more {
    color: #3C3C4F;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 0;
}

.title {
    font-weight: 900;
    font-size: 50px;
    text-align: center;
    text-shadow: 3px 3px 2px rgba(0, 0, 0, 30%);
    color: #fff;

    display: flex;
    justify-content: center;
    align-items: center;

    margin: 0;
    top: 0;
    width: 100%;
    height: 100%;
    position: absolute;
}

.card-shadow {
    box-shadow: 0 0 5px 5px rgb(0 0 0 / 5%);
}

.expand-on-hover {
    transition: all 0.2s ease-out;
}

.expand-on-hover:hover {
    transform: scale(1.05);
}

.max-width-20 {
    max-width: 20% !important;
}

.max-width-800 {
    max-width: 800px !important;
}

.width-30 {
    width: 30%;
}

.width-40 {
    width: 40%;
}

.img-full-width {
    width: 100%;
    object-fit: contain;
}

#sb_instagram {
    max-width: none;
}
