@import url("https://fonts.googleapis.com/css?family=Inter:100,200,300,400,500,600,700,800,900");

:root {
    --lightest-purple: #A8A8BF;
    --light-purple: #71718D;
    --purple: #3C3C4F;
    --dark-purple: #20202E;
    --darkest-purple: #121219;

    --light-green: #74B461;
    --yellow: #FFCC66;
}

body {
    font-family: "Inter", sans-serif !important;
}

a {
    text-decoration: none !important;
}

img {
    pointer-events: none;
    user-select: none;
}

h1 {
    text-transform: uppercase;
    font-weight: 900;
    font-size: 35px;
    color: #3C3C4F;

    margin-bottom: 30px;
}

h2 {
    text-transform: uppercase;
    font-weight: 700;
}

h3 {
    text-transform: uppercase;
    font-weight: 700;
    color: #20202E;
}

hr {
    height: 3px !important;
}

.paragraph {
    text-align: justify;
    font-size: 16px;
    line-height: 2;
    color: #999;

    max-width: 800px;
    width: 100%;
}

.read-more {
    color: #3C3C4F;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 0;
}

.title {
    font-weight: 900;
    font-size: 50px;
    text-align: center;
    text-shadow: 3px 3px 2px rgba(0, 0, 0, 30%);
    color: #fff;

    display: flex;
    justify-content: center;
    align-items: center;

    margin: 0;
    top: 0;
    width: 100%;
    height: 100%;
    position: absolute;
}

.card-shadow {
    box-shadow: 0 0 5px 5px rgb(0 0 0 / 5%);
}

.expand-on-hover {
    transition: all 0.2s ease-out;
}

.expand-on-hover:hover {
    transform: scale(1.05);
}

.max-width-20 {
    max-width: 20% !important;
}

.max-width-100 {
    max-width: 100% !important;
}

.max-width-350 {
    max-width: 350px !important;
}

.max-width-500 {
    max-width: 500px !important;
}

.max-width-700 {
    max-width: 700px !important;
}

.max-width-800 {
    max-width: 800px !important;
}

.max-width-900 {
    max-width: 900px !important;
}

.max-width-1000 {
    max-width: 1000px !important;
}

.width-30 {
    width: 30% !important;
}

.width-40 {
    width: 40% !important;
}

.width-80 {
    width: 80% !important;
}

.width-85 {
    width: 85% !important;
}

.width-90 {
    width: 90% !important;
}

.width-100 {
    width: 100% !important;
}

.square {
    aspect-ratio: 1;
}

.img-full-size {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#sb_instagram {
    max-width: none;
    font-size: 0;
}

#sbi_images {
    display: flex;
    flex-wrap: wrap;
}

#sbi_images .sbi_item {
    aspect-ratio: 1;
}

#sb_instagram + style + style + p {
    display: none;
}

.sbi_imgLiquid_error {
    display: none !important;
}

.wp-block-post-title {
    margin: 150px auto 80px;
    padding-bottom: 20px;
    font-weight: 900;
    text-align: center;
    border-bottom: 3px solid #eee;

    width: 80%;
    max-width: 800px;
}

#ajax-load-more {
    margin-bottom: -16px;
}
