img {
    pointer-events: none;
    user-select: none;
}

.paragraph {
    text-align: justify;
    font-size: 16px;
    line-height: 2;
    color: #666;

    max-width: 800px;
    width: 90%;
    margin: auto;
}

.card-shadow {
    box-shadow: 0 0 5px 5px rgb(0 0 0 / 5%);
}

.expand-on-hover {
    transition: all 0.2s ease-out;
}

.expand-on-hover:hover {
    transform: scale(1.05);
}

.max-width-20 {
    max-width: 20% !important;
}

.img-full-width {
    width: 100%;
    object-fit: contain;
}

#sb_instagram {
    max-width: none;
}

/*Editor Styles*/

.gcb-image__img {
    width: 100%;
}

.genesis-custom-blocks-control {
    display: flex;
    align-items: center;
}

.components-base-control {
    margin: 0;
    width: 100%;
}