#iispmun-committees-overview {
    max-width: 800px;
    margin: 15px auto;

    display: flex;
    align-items: center;
}

#iispmun-committees-overview > div {
    width: 50%;
    margin: 15px 20px;
}

.iispmun-committees-overview-heading {
    text-transform: uppercase;
    text-align: center;
    font-weight: 800;
    font-size: 24px;

    color: #fff;
    padding: 10px 0;
    margin: 0 1%;
}

.iispmun-committees-overview-container,
.iispmun-press-overview-container {
    display: flex;
    flex-wrap: wrap;

    margin-top: 2%;
}

.iispmun-committees-overview-container p,
.iispmun-press-overview-container p {
    flex-grow: 1;
    padding: 5px 4%;
    margin: 0 1% 2%;

    color: rgba(255, 255, 255, 0.9);
    font-weight: 700;
    font-size: 18px;
    text-align: center;
    text-transform: uppercase;
}

.iispmun-committees-overview-container p {
    background: #71718D;
}

.iispmun-press-overview-container p {
    background: #7AB5B8;
}

@media screen and (max-width: 690px) {
    #iispmun-committees-overview {
        flex-direction: column;
    }

    #iispmun-committees-overview > div {
        width: 80%;
    }
}