#iispmun-bio {
    width: 80%;
    max-width: 800px;
    margin: auto;
}

#iispmun-bio .bio-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;

    padding-left: 30px;
}

#iispmun-bio .bio-container strong {
    margin-bottom: 10px;
    font-size: 25px;
    color: var(--purple);
}

#iispmun-bio .bio-container p {
    margin: 0;
}

.wp-block-post-content p:first-child {
    display: none
}

@media screen and (max-width: 768px) {
    #iispmun-bio .iispmun-card-container {
        margin-bottom: 30px;
    }

    #iispmun-bio .bio-container {
        padding: 0;
    }
}
