<!-- wp:genesis-custom-blocks/iispmun-header /-->

<!-- wp:spacer {"height":"78px"} -->
<div style="height:78px" aria-hidden="true" class="wp-block-spacer"></div>
<!-- /wp:spacer -->

<!-- wp:group {"layout":{"type":"constrained"}} -->
<div class="wp-block-group">
    <!-- wp:genesis-custom-blocks/iispmun-bannerhead {"supertitle":"Indus International School, Pune Proudly Presents","title":405,"separator":420,"watermark":415,"show-separator":false,"watermark-spacing":150} /-->

    <!-- wp:spacer {"height":"55px"} -->
    <div style="height:55px" aria-hidden="true" class="wp-block-spacer"></div>
    <!-- /wp:spacer -->

    <!-- wp:paragraph {"textColor":"purple","className":"paragraph max-width-700 width-85"} -->
    <p class="paragraph max-width-700 width-85 has-purple-color has-text-color"> Lorem ipsum dolor sit amet, consectetur
        adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
        quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in
        reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat
        non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
    <!-- /wp:paragraph --></div>
<!-- /wp:group -->

<!-- wp:spacer {"height":"59px"} -->
<div style="height:59px" aria-hidden="true" class="wp-block-spacer"></div>
<!-- /wp:spacer -->

<!-- wp:genesis-custom-blocks/iispmun-bio {"profile-url":"http://iisp-mun-2023.local/people/bhavye-mathur/"} /-->

<!-- wp:genesis-custom-blocks/iispmun-bio {"profile-url":"http://iisp-mun-2023.local/people/abiya-syed"} /-->

<!-- wp:genesis-custom-blocks/iispmun-bio {"profile-url":"http://iisp-mun-2023.local/people/ananya-ganesh"} /-->

<!-- wp:spacer {"height":"59px"} -->
<div style="height:59px" aria-hidden="true" class="wp-block-spacer"></div>
<!-- /wp:spacer -->

<!-- wp:genesis-custom-blocks/iispmun-footer /-->