<!-- wp:genesis-custom-blocks/iispmun-header /-->

<!-- wp:group {"layout":{"type":"constrained"}} -->
<div class="wp-block-group"><!-- wp:genesis-custom-blocks/iispmun-heading {"text-1":"IISP MUN","text-2":"Committees"} /-->

  <!-- wp:paragraph {"className":"paragraph max-width-800"} -->
  <p class="paragraph max-width-800">To achieve the UN's goals in a more streamlined fashion, the organisation created several committees with varied powers and responsibilities. At the IISP MUN, delegates will simulate these committees to better understand world issues through different lenses. This year's edition of IISP MUN features 8 committees tackling a broad range of issues.</p>
  <!-- /wp:paragraph -->

  <!-- wp:spacer {"height":"41px"} -->
  <div style="height:41px" aria-hidden="true" class="wp-block-spacer"></div>
  <!-- /wp:spacer -->

  <!-- wp:genesis-custom-blocks/iispmun-committees-overview /--></div>
<!-- /wp:group -->

<!-- wp:genesis-custom-blocks/iispmun-committees-grid /-->

<!-- wp:genesis-custom-blocks/iispmun-committees-archive /-->

<!-- wp:genesis-custom-blocks/iispmun-footer /-->
