<!-- wp:genesis-custom-blocks/iispmun-header /-->

<!-- wp:spacer {"height":"34px"} -->
<div style="height:34px" aria-hidden="true" class="wp-block-spacer"></div>
<!-- /wp:spacer -->

<!-- wp:genesis-custom-blocks/iispmun-heading {"text-1":"Contact us","color-1":"#3c3c4f"} /-->

<!-- wp:table {"style":{"border":{"width":"0px","style":"none"}},"className":"max-width-500 mx-auto width-90"} -->
<figure class="wp-block-table max-width-500 mx-auto width-90"><table style="border-style:none;border-width:0px"><tbody><tr><td><strong>EMAIL</strong></td><td>contact@iispmun.com</td></tr><tr><td><strong>CONTACT</strong></td><td>Bhavye Mathur      +91 97398 69101</td></tr></tbody></table></figure>
<!-- /wp:table -->

<!-- wp:separator {"style":{"spacing":{"margin":{"top":"var:preset|spacing|70","bottom":"var:preset|spacing|70"}}},"backgroundColor":"cyan-bluish-gray","className":"max-width-700 mx-auto"} -->
<hr class="wp-block-separator has-text-color has-cyan-bluish-gray-color has-alpha-channel-opacity has-cyan-bluish-gray-background-color has-background max-width-700 mx-auto" style="margin-top:var(--wp--preset--spacing--70);margin-bottom:var(--wp--preset--spacing--70)"/>
<!-- /wp:separator -->

<!-- wp:genesis-custom-blocks/iispmun-instagram /-->

<!-- wp:spacer {"height":"56px"} -->
<div style="height:56px" aria-hidden="true" class="wp-block-spacer"></div>
<!-- /wp:spacer -->

<!-- wp:shortcode -->
[instagram-feed feed=1]
<!-- /wp:shortcode -->

<!-- wp:genesis-custom-blocks/iispmun-footer /-->