<!-- wp:genesis-custom-blocks/iispmun-header /-->

<!-- wp:spacer {"height":"40px"} -->
<div style="height:40px" aria-hidden="true" class="wp-block-spacer"></div>
<!-- /wp:spacer -->

<!-- wp:genesis-custom-blocks/iispmun-heading {"text-1":"IISP MUN","text-2":"Publications","color-1":"#3C3C4F","color-2":"#74B461"} /-->

<!-- wp:paragraph {"textColor":"darkest-purple","className":"paragraph max-width-800 width-90 mx-auto"} -->
<p class="paragraph max-width-800 width-90 mx-auto has-darkest-purple-color has-text-color"><strong>"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </strong>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat."</p>
<!-- /wp:paragraph -->

<!-- wp:spacer {"height":"17px"} -->
<div style="height:17px" aria-hidden="true" class="wp-block-spacer"></div>
<!-- /wp:spacer -->

<!-- wp:paragraph {"align":"right","textColor":"darkest-purple","className":"max-width-800 width-90 mx-auto"} -->
<p class="has-text-align-right max-width-800 width-90 mx-auto has-darkest-purple-color has-text-color"><strong>Ananya Ganesh, Director General</strong></p>
<!-- /wp:paragraph -->

<!-- wp:separator {"style":{"spacing":{"margin":{"top":"var:preset|spacing|70","bottom":"var:preset|spacing|70"}}},"backgroundColor":"cyan-bluish-gray","className":"max-width-800 mx-auto"} -->
<hr class="wp-block-separator has-text-color has-cyan-bluish-gray-color has-alpha-channel-opacity has-cyan-bluish-gray-background-color has-background max-width-800 mx-auto" style="margin-top:var(--wp--preset--spacing--70);margin-bottom:var(--wp--preset--spacing--70)"/>
<!-- /wp:separator -->

<!-- wp:areoi/container {"block_id":"249bc7de-a040-4b6a-b0fe-59dafefba3df","className":"max-width-1000 width-90"} -->
<!-- wp:areoi/row {"block_id":"65d939cd-cdec-484d-a719-77fb7ac59112","horizontal_align_xs":"justify-content-center"} -->
<!-- wp:areoi/column {"block_id":"b4831e93-e6f3-4582-ab38-7870af8559e5","vertical_align_md":"align-self-md-center","col_sm":"col-sm-6","col_md":"col-md-3"} -->
<!-- wp:genesis-custom-blocks/iispmun-card {"subtitle":"Magazine","title":"Omnis","thumbnail":731,"link":"iispmun.com/omnis-22"} /-->
<!-- /wp:areoi/column -->

<!-- wp:areoi/column {"block_id":"016c9aa6-bef1-4c4c-a0f6-7eef0f22d089","margin_right_md":"","margin_left_md":"30","col_sm":"col-sm-12","col_md":"col-md-8"} -->
<!-- wp:genesis-custom-blocks/iispmun-heading {"text-1":"Omnis","text-2":"2022"} /-->

<!-- wp:paragraph {"className":"paragraph"} -->
<p class="paragraph">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
<!-- /wp:paragraph -->
<!-- /wp:areoi/column -->
<!-- /wp:areoi/row -->
<!-- /wp:areoi/container -->

<!-- wp:spacer {"height":"50px"} -->
<div style="height:50px" aria-hidden="true" class="wp-block-spacer"></div>
<!-- /wp:spacer -->

<!-- wp:areoi/container {"block_id":"e44847f1-b123-477f-afe8-78edf08dabe3","className":"max-width-1000 width-90"} -->
<!-- wp:areoi/row {"block_id":"da1925ff-760b-4933-9f24-2cc874014870","horizontal_align_xs":"justify-content-center"} -->
<!-- wp:areoi/column {"block_id":"016c9aa6-bef1-4c4c-a0f6-7eef0f22d089","margin_right_md":"30","margin_left_md":"0","col_sm":"col-sm-12","col_md":"col-md-8"} -->
<!-- wp:genesis-custom-blocks/iispmun-heading {"text-1":"Athene","text-2":"2022","color-2":"#FFCC66"} /-->

<!-- wp:paragraph {"className":"paragraph"} -->
<p class="paragraph">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
<!-- /wp:paragraph -->
<!-- /wp:areoi/column -->

<!-- wp:areoi/column {"block_id":"b4831e93-e6f3-4582-ab38-7870af8559e5","vertical_align_md":"align-self-md-center","col_sm":"col-sm-6","col_md":"col-md-3"} -->
<!-- wp:genesis-custom-blocks/iispmun-card {"subtitle":"Newspaper","title":"Athene","thumbnail":956,"link":"iispmun.com/athene-22"} /-->
<!-- /wp:areoi/column -->
<!-- /wp:areoi/row -->
<!-- /wp:areoi/container -->

<!-- wp:spacer -->
<div style="height:100px" aria-hidden="true" class="wp-block-spacer"></div>
<!-- /wp:spacer -->

<!-- wp:genesis-custom-blocks/iispmun-posts-archive {"category":"Athene","odd-background-color":"#20202E","even-background-color":"#fff","odd-foreground-color":"#fff","even-foreground-color":"#3C3C4F"} /-->

<!-- wp:genesis-custom-blocks/iispmun-footer /-->