<!-- wp:genesis-custom-blocks/iispmun-header /-->

<!-- wp:spacer {"height":"78px"} -->
<div style="height:78px" aria-hidden="true" class="wp-block-spacer"></div>
<!-- /wp:spacer -->

<!-- wp:group {"layout":{"type":"constrained"}} -->
<div class="wp-block-group"><!-- wp:genesis-custom-blocks/iispmun-bannerhead {"supertitle":"Indus International School, Pune Proudly Presents","title":405,"separator":420,"watermark":415,"show-separator":false,"watermark-spacing":150} /-->

  <!-- wp:spacer {"height":"25px"} -->
  <div style="height:25px" aria-hidden="true" class="wp-block-spacer"></div>
  <!-- /wp:spacer -->

  <!-- wp:genesis-custom-blocks/iispmun-button {"text":"Registration Form","link":"iispmun.com/registration-form"} /-->

  <!-- wp:spacer -->
  <div style="height:100px" aria-hidden="true" class="wp-block-spacer"></div>
  <!-- /wp:spacer -->

  <!-- wp:heading {"textAlign":"center","level":5,"style":{"typography":{"textTransform":"uppercase"}}} -->
  <h5 class="wp-block-heading has-text-align-center" style="text-transform:uppercase"><strong>Compare packages</strong></h5>
  <!-- /wp:heading -->

  <!-- wp:spacer {"height":"268px"} -->
  <div style="height:268px" aria-hidden="true" class="wp-block-spacer"></div>
  <!-- /wp:spacer -->

  <!-- wp:genesis-blocks/gb-container {"containerPaddingTop":0,"containerPaddingBottom":0,"containerMarginTop":0,"containerMarginBottom":0,"containerBackgroundColor":"#20202E","className":"max-width-100"} -->
  <div style="background-color:#20202E" class="wp-block-genesis-blocks-gb-container max-width-100 gb-block-container"><div class="gb-container-inside"><div class="gb-container-content"><!-- wp:heading {"textAlign":"center","level":5,"style":{"typography":{"textTransform":"uppercase"},"spacing":{"margin":{"top":"0","right":"0","bottom":"0","left":"0"},"padding":{"top":"var:preset|spacing|70","right":"0","bottom":"var:preset|spacing|60","left":"0"}}},"textColor":"background"} -->
    <h5 class="wp-block-heading has-text-align-center has-background-color has-text-color" style="margin-top:0;margin-right:0;margin-bottom:0;margin-left:0;padding-top:var(--wp--preset--spacing--70);padding-right:0;padding-bottom:var(--wp--preset--spacing--60);padding-left:0;text-transform:uppercase"><strong>How to Register</strong></h5>
    <!-- /wp:heading -->

    <!-- wp:areoi/row {"block_id":"7edf7ee1-757b-49b0-9717-0313e853a008","className":"max-width-700 mx-auto width-90"} -->
    <!-- wp:areoi/column {"block_id":"d097e5bc-dc7b-4017-9f70-b55ed3d60a28","background_color":{"hex":"#00827d","rgb":{"r":0,"g":130,"b":125,"a":1},"hsv":{"h":178,"s":100,"v":51,"a":1},"hsl":{"h":178,"s":100,"l":25,"a":1},"source":"hex","oldHue":178},"padding_top_xs":"10","padding_right_xs":"20","padding_bottom_xs":"10","padding_left_xs":"20","padding_top_md":"20","padding_right_md":"20","padding_bottom_md":"20","padding_left_md":"20","margin_top_md":"","margin_right_md":"","margin_bottom_md":"50","col_xs":"col-12","col_sm":"Default","col_md":"col-md-4"} -->
    <!-- wp:genesis-custom-blocks/iispmun-square-block {"number":1,"text":"Select your package"} /-->
    <!-- /wp:areoi/column -->

    <!-- wp:areoi/column {"block_id":"d1103548-3afa-4785-878f-e74ba68ad307","background_color":{"hex":"#61b6bb","rgb":{"r":97,"g":182,"b":187,"a":1},"hsv":{"h":183,"s":48,"v":73,"a":1},"hsl":{"h":183,"s":40,"l":56,"a":1},"source":"hex","oldHue":183},"padding_top_xs":"10","padding_right_xs":"20","padding_bottom_xs":"10","padding_left_xs":"20","padding_top_md":"20","padding_right_md":"20","padding_bottom_md":"20","padding_left_md":"20","margin_bottom_md":"50","col_xs":"col-12","col_sm":"Default","col_md":"col-md-4"} -->
    <!-- wp:genesis-custom-blocks/iispmun-square-block {"number":2,"background":"#61B6BB","text":"Fill the registration form"} /-->
    <!-- /wp:areoi/column -->

    <!-- wp:areoi/column {"block_id":"a6c7285a-acc2-43ea-83ea-03fbdcb7cdd2","background_color":{"hex":"#74b461","rgb":{"r":116,"g":180,"b":97,"a":1},"hsv":{"h":106,"s":46,"v":71,"a":1},"hsl":{"h":106,"s":36,"l":54,"a":1},"source":"hex","oldHue":106},"padding_top_xs":"10","padding_right_xs":"20","padding_bottom_xs":"10","padding_left_xs":"20","margin_bottom_xs":"50","padding_top_md":"20","padding_right_md":"20","padding_bottom_md":"20","padding_left_md":"20","margin_bottom_md":"50","col_xs":"col-12","col_sm":"Default","col_md":"col-md-4"} -->
    <!-- wp:genesis-custom-blocks/iispmun-square-block {"number":3,"background":"#74b461","text":"Make the payment"} /-->
    <!-- /wp:areoi/column -->
    <!-- /wp:areoi/row --></div></div></div>
  <!-- /wp:genesis-blocks/gb-container -->

  <!-- wp:spacer {"height":"41px"} -->
  <div style="height:41px" aria-hidden="true" class="wp-block-spacer"></div>
  <!-- /wp:spacer -->

  <!-- wp:heading {"textAlign":"center","level":5,"style":{"typography":{"textTransform":"uppercase"}}} -->
  <h5 class="wp-block-heading has-text-align-center" style="text-transform:uppercase"><strong>Payment Details</strong></h5>
  <!-- /wp:heading -->

  <!-- wp:paragraph {"align":"center","style":{"spacing":{"margin":{"top":"var:preset|spacing|40","right":"var:preset|spacing|40","bottom":"var:preset|spacing|70","left":"var:preset|spacing|40"}}},"textColor":"purple"} -->
  <p class="has-text-align-center has-purple-color has-text-color" style="margin-top:var(--wp--preset--spacing--40);margin-right:var(--wp--preset--spacing--40);margin-bottom:var(--wp--preset--spacing--70);margin-left:var(--wp--preset--spacing--40)">Please fill the registration form for details on how much to pay to each account</p>
  <!-- /wp:paragraph -->

  <!-- wp:table {"style":{"spacing":{"margin":{"bottom":"var:preset|spacing|80"}}},"className":"max-width-800 is-style-stripes width-90"} -->
  <figure class="wp-block-table max-width-800 is-style-stripes width-90" style="margin-bottom:var(--wp--preset--spacing--80)"><table><tbody><tr><td><strong>Account Name</strong></td><td>Hyatt Regency Pune</td><td>Indus Intl School Pune Pvt Ltd Escrow</td></tr><tr><td><strong>Bank Name</strong></td><td>HDFC Bank Ltd</td><td>HDFC Bank Ltd</td></tr><tr><td><strong>Bank Account No</strong></td><td>00072320005333</td><td>50200049175212</td></tr><tr><td><strong>RTGS/IFSC/NEFT</strong></td><td>HDFC0000007</td><td>HDFC0000009</td></tr><tr><td><strong>Swift Code</strong></td><td>HDFCINBBPNE</td><td></td></tr></tbody></table></figure>
  <!-- /wp:table -->

  <!-- wp:image {"id":456,"sizeSlug":"full","linkDestination":"none","className":"max-width-800 width-90"} -->
  <figure class="wp-block-image size-full max-width-800 width-90"><img src="http://iisp-mun-2023.local/wp-content/uploads/2023/06/admin-block.svg" alt="" class="wp-image-456"/></figure>
  <!-- /wp:image --></div>
<!-- /wp:group -->

<!-- wp:genesis-custom-blocks/iispmun-footer /-->