<!-- wp:genesis-custom-blocks/iispmun-header /-->

<!-- wp:genesis-custom-blocks/iispmun-post-header /-->

<!-- wp:genesis-custom-blocks/iispmun-committees-archive /-->

<!-- wp:group {"layout":{"type":"constrained"}} -->
<div class="wp-block-group"><!-- wp:genesis-custom-blocks/iispmun-heading {"text-1":"Committee","text-2":"Resources"} /-->

    <!-- wp:paragraph {"textColor":"dark-purple","className":"paragraph max-width-800 width-90"} -->
    <p class="paragraph max-width-800 width-90 has-dark-purple-color has-text-color">     Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore     magna     aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo     consequat. </p>
    <!-- /wp:paragraph --></div>
<!-- /wp:group -->

<!-- wp:genesis-custom-blocks/iispmun-committee-resources /-->

<!-- wp:spacer {"height":"40px"} -->
<div style="height:40px" aria-hidden="true" class="wp-block-spacer"></div>
<!-- /wp:spacer -->

<!-- wp:genesis-custom-blocks/iispmun-heading {"text-1":"Meet the","text-2":"Executive Board","color-1":"#3C3C4F","color-2":"#3C3C4F"} /-->

<!-- wp:genesis-custom-blocks/iispmun-committees-slideshow /-->

<!-- wp:genesis-custom-blocks/iispmun-footer /-->