<!-- wp:genesis-custom-blocks/iispmun-header /-->

<!-- wp:genesis-custom-blocks/iispmun-post-header /-->

<!-- wp:genesis-custom-blocks/iispmun-committees-archive /-->

<!-- wp:genesis-custom-blocks/iispmun-chairpersons /-->

<!-- wp:spacer {"height":"100px"} -->
<div style="height:100px" aria-hidden="true" class="wp-block-spacer"></div>
<!-- /wp:spacer -->

<!-- wp:group {"layout":{"type":"constrained"}} -->
<div class="wp-block-group">
    <!-- wp:genesis-custom-blocks/iispmun-heading {"text-1":"Committee","text-2":"Resources"} /-->

    <!-- wp:paragraph {"textColor":"dark-purple","className":"paragraph max-width-800 width-90"} -->
    <p class="paragraph max-width-800 width-90 has-dark-purple-color has-text-color"> Lorem ipsum dolor sit amet,
        consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
        veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </p>
    <!-- /wp:paragraph --></div>
<!-- /wp:group -->

<!-- wp:genesis-custom-blocks/iispmun-committee-resources /-->

<!-- wp:spacer {"height":"20px"} -->
<div style="height:20px" aria-hidden="true" class="wp-block-spacer"></div>
<!-- /wp:spacer -->

<!-- wp:genesis-custom-blocks/iispmun-committees-slideshow /-->

<!-- wp:genesis-custom-blocks/iispmun-committee-posts /-->

<!-- wp:genesis-custom-blocks/iispmun-footer /-->