.blog-header {
    height: 500px;
    display: flex;
    align-items: center;

    background: #20202E;
}

.blog-header img {
    filter: brightness(0.5);
    width: 100%;
    height: 100%;

    opacity: 0.3;
}

.blog-header .text {
    position: absolute;
    width: 100%
}

.blog-header .subtitle {
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 700;
}

.blog-header .author {
    color: var(--yellow);
}

.blog-header h1,
.blog-header h4 {
    text-transform: capitalize;
    color: #fff;
    width: 80%;
    margin: 20px auto;
}

.blog-header h1 {
    font-size: 50px;
    font-weight: 600;
}
