.iispmun-features-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    max-width: 500px !important;
    width: 90%;
    margin: 20px auto;
}

.iispmun-features-container div {
    width: 3%;
}

.iispmun-features-container p {
    color: white;
    font-size: 18px;

    flex-grow: 1;
    padding: 5px 15px;

    transition: all 0.2s ease;
    text-transform: uppercase;
    cursor: pointer;
}

.iispmun-features-container p:hover {
    flex-grow: 3;
}

@media screen and (max-width: 560px) {
    .iispmun-features-container p {
        font-size: 15px;
    }
}

@media screen and (max-width: 423px) {
    .iispmun-features-container p {
        font-size: 13px;
    }
}
